.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;

    .item{
        padding: 20px;
        background-color: aqua;
        color: red;
    }
}